body {
  background-color: pink;
  margin: 0 auto;
  border-radius:10px;
  font-family: 'Helvetica';
  position: relative;
}

.player {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 3em;
}


.game-board {
  width: 1000px;
  height: 200px;
  position: absolute;
  display: table;
}

.hollow {
 position:
}

.goal {
  height: 200px;

}
